<h1>Save a new link</h1>

<form action='/links' method='post'>
  <h3>Title: <input type='text' name='title'>
      URL: <input type='text' name='url'>
      Tags: <input type='text' name='tags'></h3>
  <input type='submit' value='Save'>
</form>
